
body {
    font-family: 'Kanit', sans-serif !important;
}

.bg-color {
    background: #E5E5E5;
}

.backgroub-color{
    background: #134B8A;
}

.text-title {
    font-size: 24px;
}

.text-size-18 {
    font-size: 18px;
}

.text-center-18 {
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
}

.image-header-card {
    height: 100%;
    width: 100%;
    border-radius: 5px ;
    object-fit: cover;
    object-position: top center;
}

.text-detail{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}
.text-subdetail{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;

}

.text-detail-title{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);

}

.text-detail-rating{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #134B8A;
}

.icon-rating{
    margin-right: 10px;
}